.form,
.greetings{
    display: none;
}
.showing{
    display: block;
}

/* 기본 css코드에 추가 */
.alarmOn {
    animation: blink 1s step-end infinite;
    }
    /* for Chrome, Safari */
    @-webkit-keyframes blink {
    0% {background-color: red;}
    50% {background-color: white;}
    }

    